.codeBoard {
  display: flex;
  flex-direction: column;
  width: calc(100% - 72px);
  background-color: var(--bg-board);

  border-radius: var(--border-radius-medium);
  padding: var(--space-medium);
  margin-left: var(--space-large);
  color: var(--color-main);

  position: relative;
}

.codeScope {  
  max-width: 85%;
  font-family: var(--font-code);
  font-style: italic;
}

.simbol {
  user-select: none;
  font-family: var(--font-simbol-sudo);
  padding: 0px var(--space-medium);
}

#copySucess {
  display: none;
  position: absolute;
  background-color: var(--bg-sucess);
  color: var(--bg-main);
  padding: var(--space-xsmall);
  border-radius: Var(--border-radius-medium);
  top: -48px;
  left: calc(50% - 36px);
}

#closeNotification {
  display: flex;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: var(--bg-danger);

  border: 1px solid transparent;
  border-radius: var(--border-radius-circle);
  color: var(--bg-main);
  font-family: var(--font-code);

  position: absolute;
  top: -10px;
  right: -10px;

  cursor: pointer;
  
  transition-duration: var(--animation-duration-medium);
}

#closeNotification:hover {
  color: var(--color-main);
  border: 1px solid var(--color-main);
}