.view {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;
}

.header {
  height: 30px;
  background-color: var(--color-main);
  color: var(--bg-second);
  padding: var(--space-medium);
}

.nameLib {
  cursor: pointer;
  user-select: none;  
  transition-duration: var(--animation-duration-medium);
}

.nameLib:hover {
  color:  var(--color-second);
}

.content {
  width: 100%;
  min-height: 100%;
  padding-bottom: var(--space-xlarge);
  position: relative;
}

.tableContent {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--space-xlarge));
  background-color: var(--bg-main-light);
  margin-left: var(--space-large);
  border-radius: var(--border-radius-small);
  border-top: 1px solid var(--color-main);
  border-left: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
  font-size: var(--fontsize-small);
}

.cardContent {
  display: flex;
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid var(--color-main);
}

.menuBoard {
  display: flex;
  justify-content: space-around;  
  flex-wrap: wrap;
  row-gap: var(--space-xlarge);
  column-gap: var(--space-xlarge);
  padding: calc(var(--space-xlarge) + var(--space-large)) var(--space-large);
}

.menuBoard_option {
  border-radius: var(--border-radius-circle);
  border: 3px solid var(--color-main);
  color: var(--color-main);
  position: relative;
  
  transition-duration: var(--animation-duration-slong);
}

.menuBoard_option span {
  position: absolute;
  user-select: none;
  bottom: -42px;
  text-align: center;
  font-size: var(--fontsize-elarge);
  cursor: pointer;  
}

.NoFound {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: var(--space-large);
  padding: 200px;
}

.NoFound span {
  font-size: var(--fontsize-large);
  color: var(--color-second);
  white-space: nowrap;
  user-select: none;
  
}
