.menu {
    width: 350px;
    min-height: 100%;
    background-color: var(--color-main);
    color: var(--bg-second);
}

.menu div[flexr-end] {
    width: 100%;
    height: 54px;
}

.optionMenu {
    text-align: center;
    padding: var(--space-medium);
    user-select: none;
    cursor: pointer;    
    transition-duration: var(--animation-duration-medium);
}

.optionMenuActive {
    background-color: var(--color-menu);
    color: var(--bg-second);
    text-align: center;
    border-bottom: 1px solid var(--color-main-light);
    padding: var(--space-medium);
    user-select: none;
    cursor: pointer;
}

.optionMenu:hover {
    background-color: var(--color-menu);
    text-shadow: 0px 2px 3px var(--shadow-main);
    color: var(--color-second);
}

.optionMenu:hover div, .optionMenuActive:hover div {
    background-color: var(--color-second);
}

.section_topic {
    text-align: center;
    padding: var(--space-small);
    color: var(--bg-second);
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.section_topic:hover {
    background-color: var(--color-menu);
    color: var(--color-second);
}