.content .contentSearch {
  display: none;
  flex-direction: column;
  width: 100%;
  min-height: calc(100% - 54px);
  background-color: var(--bg-second);
  padding-bottom: 24px;
  position: absolute;
  z-index: 1;
}

.content .contentSearch h1 {
  width: 50%;
  height: fit-content;
  padding-left: 24px;
  margin-bottom: 0px;
  border-bottom: 1px solid var(--color-main);
  color: var(--color-main);
}

.content .contentSearch h2 {
  max-width: 50%;
  margin: 18px 0px; 
  padding: 0px 24px 0px 24px;
  color: var(--color-main);
}

.content .contentSearch h3 {
  margin: 0px;
}

.content .contentSearch .searchLoading {
  display: flex;
  justify-content: center;
  height: 46px;
  padding-top: 12px;
  visibility: visible;
}

.InterSearchPuzzle, .InterSearchModules, .InterSearchMatch3, .functSearchPuzzle, .functSearchModules, .functSearchMatch3, .functSearchGachaSystem {
  display: none;
}

