.contentSearch {
  width: 100%;
  min-height: calc(100% - 76px);
  max-height: calc(100% - 76px);
  background-color: var(--bg-main);
  padding-bottom: var(--space-large);
  position: absolute;
  overflow-y: auto;
  z-index: 1;
}

.searchLoading {
  display: flex;
  justify-content: center;
  padding: var(--space-medium) 0px;
}

.searchBoard {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-main);
  max-width: 60%;
  width: 60%;
  border-radius: var(--border-radius-large);
}

.searchbtnIcon {
  height: 24px;
  position: relative;
}

.searchbtnIcon span {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 19.5px;

  padding-top: var(--space-xsmall);
  border-radius: var(--border-radius-semi-circle);
  border: 2px solid var(--color-main);

  color: var(--color-main);
  font-family: var(--font-code);
  
  position: absolute;
  right: -2px;
  top: -1.5px;

  cursor: pointer;
  user-select: none;
  
  transition-duration: var(--animation-duration-medium);
}

.searchbtnIcon span:hover {
  background-color: var(--color-main);
  border: 2px solid  var(--color-second);
  color:  var(--color-second);
} 

.searchInput {
  width: calc(100% - 68px);
  background-color: var(--bg-main);
  padding: 0px var(--space-large);
  border-radius: var(--border-radius-large);
  border: none;
  outline: none;
}

.InterSearchPuzzle, 
.InterSearchModules, 
.InterSearchMatch3, 
.functSearchPuzzle, 
.functSearchModules, 
.functSearchMatch3, 
.functSearchGachaSystem,
#TutorialSearch {
  display: none;
}

