:root {
  --bg-main-light: #FFF;
  --bg-main: #f9fafa;
  --bg-second: #eff9fa;
  --bg-board: #edefef;
  --bg-board-light: #f1f2f2;
  --bg-sucess: #3ab816;
  --bg-danger: #e82e2e;
  --color-main: #344245;
  --color-main-light: #cccccc;
  --color-main-dark: #5c5c5c;
  --color-second: #ff8800;
  --color-menu: #37464f;
  --shadow-main: #555757;

  --space-xsmall: 2px;
  --space-small: 6px;
  --space-medium: 12px;
  --space-large: 24px;
  --space-xlarge: 48px;

  --fontsize-xsmall: 10px;
  --fontsize-small: 12px;
  --fontsize-medium: 14px;
  --fontsize-large: 16px;
  --fontsize-xlarge: 24px;

  --font-main: 'Roboto', sans-serif;
  --font-code: 'Cambay', sans-serif;
  --font-simbol-sudo: 'Lato', sans-serif;

  --breakpoint-small: 37.5em;
  --breakpoint-medium: 48em;
  --breakpoint-large: 62em;
  --breakpoint-xlarge: 75em;
}
